
.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}

.userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;

}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername {
    font-weight: 600;
}

.userShowUserTitle {
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.charts__right{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.chartContainer
{
    max-height:200px;
    max-width: 300px;
    object-fit: contain;
    right: 0;
    position: absolute;
    margin-right: 10px;

}
.charts_left_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #f3f4f6, -5px -5px 13px #f3f4f6 ;
}

.card_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
